html {
  font-family: Helvetica;
  font-size: 18px;
  margin: 0;
  }

  /* Header */
header {
  display: flex;
  background-color: black;
  align-items: center;
}
header .img {
  flex-grow: 1;
  height: 1.5rem;
  margin-right: 1rem;
}
span {
  text-align: left;
  font-size: 1rem;
  margin-top: 0.66rem;
  margin-bottom: 0.66rem;
  margin-left: 0.5rem;
  color: white;
}

/* Landing Page*/
.landing-page {
  justify-content: center;
  background-image: url(/resources/images/moto.jpeg);
  width: 100%;
}
.moto {
  justify-content: left;
  text-align: left;
  padding-left: 100px;
  background-color: black;
}
.links {
  text-align: center;
  flex-grow: 1;
  background-color: red;
}
a {
  padding: 10px 30px;
  color: white
}

/* Featured Products*/
.featured-products {
  justify-content: center;
  align-items: center;
}

.product {
  border: 2px solid black;
  height: 200px;
  width: 200px
}

/* Footer*/
footer {
  background-color: black;
  font-color: white;
}
