html {
  font-family: Helvetica;
  font-size: 18px;
  }

.container {
  max-width: 960px;
}
  /* Header */
header {
  background-color: black;
}
header .container {
  display: flex;
  align-items: center;
  padding: 0.66rem 0.66rem 0.5rem;
}
header img {
  height: 1.5rem;
  padding-right: 1rem;
  align-items: center;
}
span {
  font-size: 1rem;
  color: white;
}

/* Landing Page*/
.landing-page {
  display: flex;
  justify-content: center;
  width: 100%;
  background-size: cover;
  background-position: center;
  color: white;
  background-image: url(resources/images/moto.jpeg);
}

.moto {
  justify-content: left;
  text-align: left;
  background-color: black;
}
.links {
  text-align: center;
  flex-grow: 1;
  background-color: red;
}
a {
  padding: 10px 30px;
  color: white
}

/* Featured Products*/
.featured-products {
  justify-content: center;
  align-items: center;
}

.product {
  border: 2px solid black;
  height: 200px;
  width: 200px
}

/* Footer*/
footer {
  background-color: black;
  font-color: white;
}
